<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="ExternalPackages" />
	</config>
	<packageSources>
		<clear/>
		<add key="ComponentsProduction" value="https://artifacts.sonova.com/artifactory/api/nuget/components-production" />
	</packageSources>
</configuration>