source https://api.nuget.org/v3/index.json

framework: net46
redirects: on
storage: none

nuget Microsoft.NETFramework.ReferenceAssemblies copy_local:true
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter
nuget NUnit
nuget Xunit.core